# COGS 108 - Assignment 4: Data Privacy

This assignment covers getting data (web scraping) and data privacy (Safe Harbor). 

This assignment is out of 7.5 points, worth 7.5% of your grade.

**PLEASE DO NOT CHANGE THE NAME OF THIS FILE.**

**PLEASE DO NOT COPY & PASTE OR DELETE CELLS INLCUDED IN THE ASSIGNMENT.**

## Important Reminders

- Do not change / update / delete any existing cells with 'assert' in them. These are the tests used to check your assignment. 
- This assignment has hidden tests: tests that are not visible here, but that will be run on your submitted file. Passing all the tests you can see in the notebook here does not guarantee you have the right answer.

## Overview

We have briefly discussed in lecture the importance and the mechanics of protecting individuals' privacy when they are included in datasets. 

One method to do so is the Safe Harbor Method. The Safe Harbor method specifies how to protect individuals' identities by telling us which information to remove from a dataset in order to avoid accidently disclosing personal information. 

In this assignment, we will explore web scraping, which can often include personally identifiable information, how identity can be decoded from badly anonymized datasets, and also explore using Safe Harbor to anonymize datasets properly. 

The topics covered in this assignment are mainly covered in the 'DataGathering' and 'DataPrivacy&Anonymization' Tutorial notebooks.

In [1]:
# Imports - these are provided for you. Do not import any other packages.
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup

## Part 1: Web Scraping (1.25 points)

### Scraping Rules

1) If you are using another organization's website for scraping, make sure to check the website's terms & conditions. 

2) Do not request data from the website too aggressively (quickly) with your program (also known as spamming), as this may break the website. Make sure your program behaves in a reasonable manner (i.e. acts like a human). One request for one webpage per second is good practice.

3) The layout of a website may change from time to time. Because of this, if you're scraping a website, make sure to revisit the site and rewrite your code as needed.

### 1a) Web Scrape

We will first retrieve the contents on a page and examine them a bit.

Make a variable called `wiki`, that stores the following URL (as a string):
https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population

Now, to open the URL, use `requests.get()` and provide `wiki` as its input. Store this in a variable called `page`.

After that, make a variable called `soup` to parse the HTML using `BeautifulSoup`. Consider that there will be a method from `BeautifulSoup` that you'll need to call on to get the content from the page.

In [2]:
wiki = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population"
page = requests.get(wiki)
soup = BeautifulSoup(page.content, 'html.parser')


wiki

'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population'

In [3]:
assert wiki
assert page
assert soup

### 1b) Checking Scrape Contents

Extract the title from the page and save it in a variable called `title_page`. 

Make sure you extract it as a string.

To do so, you have to use the soup object created in the above cell. 
Hint: from your soup variable, you can access this with `.title.string`.

Make sure you print out and check the contents of `title_page`.

Note that it should not have any tags (such as `<title>` included in it).

In [4]:
title_page = soup.title.string
print(title_page)

List of states and territories of the United States by population - Wikipedia

In [5]:
assert title_page
assert isinstance(title_page, str)

### 1c) Extracting Tables

In order to extract the data we want, we'll start with extracting a data table of interest.

Note that you can see this table by going to look at the link we scraped.

Use the `soup` object and call a method called `find`, which will find and extract the first table in the scraped webpage. Store this in the variable `right_table`. 

Note: you need to search for the name `table`, and set the `class_` argument as `wikitable sortable`.

In [6]:
right_table = soup.find("table", class_ = "wikitable sortable" )

#ask ta if it's supposed to be "class_"or just class. cause nothing happens with class_ variable

In [7]:
assert right_table
assert isinstance(right_table, bs4.element.Tag)
assert right_table.name == 'table'

Now, you'll extract the data from the table into lists.

Note: This code is provided for you. Do read through it and try to see how it works.

In [8]:
# CODE PROVIDED
# YOU SHOULD NOT HAVE TO EDIT
# BUT YOU WILL WANT TO UNDERSTAND
list_a, list_b, list_c = [], [], []

for row in right_table.findAll('tr'):
    
    cells = row.findAll('td')
    
    # Skips rows that aren't 10 columns long (like the heading)
    if len(cells) != 12:
        continue

    # This catches when the name cells stops having a link
    #  and ends, skipping the last (summary rows)
    try:
        list_a.append(cells[2].find('a').text)
        list_b.append(cells[3].find(text=True))
        list_c.append(cells[4].find(text=True))
    except:
        break

### 1d) Collecting into a dataframe

Create a dataframe `my_df` and add the data from the lists above to it. 
- `list_a` is the state or territory name. Set the column name as `State`, and make this the index
- `list_b` is the population estimate. Add it to the dataframe, and set the column name as `Population Estimate`
- `list_c` is the census population. Add it to the dataframe, and set the column name as `Census Population`

make sure to check the head of your dataframe to see that everything looks right! ie: my_df.head()

In [9]:
my_df = {'State': list_a, 'Population Estimate': list_b, "Census Population": list_c}
my_df = pd.DataFrame(data=my_df).set_index("State")

my_df

                         Population Estimate Census Population
State
California                      39,512,223\n      37,254,523\n
Texas                           28,995,881\n      25,145,561\n
Florida                         21,477,737\n      18,801,310\n
New York                        19,453,561\n      19,378,102\n
Pennsylvania                    12,801,989\n      12,702,379\n
Illinois                        12,671,821\n      12,830,632\n
Ohio                            11,689,100\n      11,536,504\n
Georgia                         10,617,423\n       9,687,653\n
North Carolina                  10,488,084\n       9,535,483\n
Michigan                         9,986,857\n       9,883,640\n
New Jersey                       8,882,190\n       8,791,894\n
Virginia                         8,535,519\n       8,001,024\n
Washington                       7,614,893\n       6,724,540\n
Arizona                          7,278,717\n       6,392,017\n
Massachusetts                    6,949,503\n       6,547,629\n
Tennessee                        6,833,174\n       6,346,105\n
Indiana                          6,732,219\n       6,483,802\n
Missouri                         6,137,428\n       5,988,927\n
Maryland                         6,045,680\n       5,773,552\n
Wisconsin                        5,822,434\n       5,686,986\n
Colorado                         5,758,736\n       5,029,196\n
Minnesota                        5,639,632\n       5,303,925\n
South Carolina                   5,148,714\n       4,625,364\n
Alabama                          4,903,185\n       4,779,736\n
Louisiana                        4,648,794\n       4,533,372\n
Kentucky                         4,467,673\n       4,339,367\n
Oregon                           4,217,737\n       3,831,074\n
Oklahoma                         3,956,971\n       3,751,351\n
Connecticut                      3,565,287\n       3,574,097\n
Utah                             3,205,958\n       2,763,885\n
Iowa                             3,155,070\n       3,046,355\n
Puerto Rico                      3,193,694\n       3,725,789\n
Nevada                           3,080,156\n       2,700,551\n
Arkansas                         3,017,825\n       2,915,918\n
Mississippi                      2,976,149\n       2,967,297\n
Kansas                           2,913,314\n       2,853,118\n
New Mexico                       2,096,829\n       2,059,179\n
Nebraska                         1,934,408\n       1,826,341\n
Idaho                            1,787,065\n       1,567,582\n
West Virginia                    1,792,147\n       1,852,994\n
Hawaii                           1,415,872\n       1,360,301\n
New Hampshire                    1,359,711\n       1,316,470\n
Maine                            1,344,212\n       1,328,361\n
Montana                          1,068,778\n         989,415\n
Rhode Island                     1,059,361\n       1,052,567\n
Delaware                           973,764\n         897,934\n
South Dakota                       884,659\n         814,180\n
North Dakota                       762,062\n         672,591\n
Alaska                             731,545\n         710,231\n
District of Columbia               705,749\n         601,723\n
Vermont                            623,989\n         625,741\n
Wyoming                            578,759\n         563,626\n
Guam                               165,718\n           159,358
U.S. Virgin Islands                104,914\n           106,405
American Samoa                      55,641\n            55,519
Northern Mariana Islands            55,194\n            53,883
Contiguous United States       325,386,357\n     306,675,006\n

In [10]:
assert isinstance (my_df, pd.DataFrame)
assert my_df.index.name == 'State'
assert list(my_df.columns) == ['Population Estimate', 'Census Population']

### 1e) Using the data
What is the Population Estimate of Texas? Save this answer to a variable called `texas_pop`
Notes:
- Extract this value programmatically from your dataframe (as in, don't set it explicitly as `texas_pop = 123`)
- You can use `.loc` to extract a particular value from a dataframe.
- The data in your dataframe will be strings - that's fine, leave them as strings (don't typecast).

In [11]:
texas_pop = my_df.loc['Texas', 'Population Estimate']

In [12]:
assert texas_pop

## Part 2: Identifying Data (3 points)

Data Files:
- anon_user_dat.json
- employee_info.json

You will first be working with a file called 'anon_user_dat.json'. This file contains information about some (fake) Tinder users. When creating an account, each Tinder user was asked to provide their first name, last name, work email (to verify the disclosed workplace), age, gender, phone # and zip code. Before releasing this data, a data scientist cleaned the data to protect the privacy of Tinder's users by removing the obvious personal identifiers: phone #, zip code, and IP address. However, the data scientist chose to keep each users' email addresses because when they visually skimmed a couple of the email addresses none of them seemed to have any of the users' actual names in them. This is where the data scientist made a huge mistake!

We will take advantage of having the work email addresses by finding the employee information of different companies and matching that employee information with the information we have, in order to identify the names of the secret Tinder users!

### 2a) Load in the 'cleaned' data 

Load the `anon_user_dat.json` json file into a pandas dataframe. Call it `df_personal`.

In [13]:
df_personal = pd.read_json("anon_user_dat.json")

In [14]:
assert isinstance(df_personal, pd.DataFrame)

### 2b) Check the first 10 emails 

Save the first 10 emails to a Series, and call it `sample_emails`. 
You should then print out this Series. ( Use print() )

The purpose of this is to get a sense of how these work emails are structured and how we could possibly extract where each anonymous user seems to work.

In [15]:
sample_emails = df_personal['email'].head(10)

In [16]:
assert isinstance(sample_emails, pd.Series)

### 2c) Extract the Company Name From the Email 

Create a function with the following specifications:
- Function Name: extract_company
- Purpose: to extract the company of the email (i.e., everything after the @ sign but before the .)
- Parameter(s): email (string)
- Returns: The extracted part of the email (string)
- Hint: This should take 1 line of code. Look into the find('') method. 

You can start with this outline:
```python 
def extract_company(email):
    return
```

Example Usage: 
- extract_company("larhe@uber.com") should return "uber"
- extract_company(“ds@cogs.edu”) should return “cogs”

In [17]:
def extract_company(email):
    
    start = email.find("@")
    end = email.find('.')
    
    return email[start+1:end]
extract_company("gshoreson0@seattletimes.com")

'seattletimes'

In [18]:
assert extract_company("gshoreson0@seattletimes.com") == "seattletimes"

With a little bit of basic sleuthing (aka googling) and web-scraping (aka selectively reading in html code) it turns out that you've been able to collect information about all the present employees/interns of the companies you are interested in. Specifically, on each company website, you have found the name, gender, and age of its employees. You have saved that info in employee_info.json and plan to see if, using this new information, you can match the Tinder accounts to actual names.

### 2d) Load in employee data 

Load the json file into a pandas dataframe. Call it `df_employee`.

In [19]:
df_employee = pd.read_json('employee_info.json')

In [20]:
assert isinstance(df_employee, pd.DataFrame)

### 2e) Match the employee name with company, age, gender 

Create a function with the following specifications:
- Function name: employee_matcher
- Purpose: to match the employee name with the provided company, age, and gender
- Parameter(s): company (string), age (int), gender (string)
- Returns: The employee first_name and last_name like this: return first_name, last_name 
- Note: If there are multiple employees that fit the same description, first_name and last_name should return a list of all possible first names and last names i.e., ['Desmund', 'Kelby'], ['Shepley', 'Tichner']. Note that the names of the individuals that would produce this output are 'Desmund Shepley' and 'Kelby Tichner'.

Hint:
There are many different ways to code this. An inelegant solution is to loop through `df_employee` 
   and for each data item see if the company, age, and gender match
   i.e., 
   ```python
   for i in range(0, len(df_employee)):
             if (company == df_employee.ix[i,'company']):
   ```
   
However! The solution above is very inefficient and long, so you should try to look into this:
Google the df.loc method: It extracts pieces of the dataframe
   if it fulfills a certain condition.
   i.e., 
   
```python
df_employee.loc[df_employee['company'] == company]
```

If you need to convert your pandas data series into a list, you can do ```list(result)``` where result is a pandas "series"

You can start with this outline:
```python
def employee_matcher(company, age, gender):
    return first_name, last_name
```

In [21]:
def employee_matcher(company, age, gender):
    temp = df_employee.loc[(df_employee["company"]== company)
    & (df_employee['age'] == age) & (df_employee ['gender'] == gender)]
    
    first = temp['first_name']
    last = temp ['last_name']
    return list (first), list(last)
employee_matcher("google", 41, "Male")

(['Maxwell'], ['Jorio'])

In [22]:
assert employee_matcher("google", 41, "Male") == (['Maxwell'], ['Jorio'])
assert employee_matcher("salon", 47, "Female") == (['Elenore'], ['Gravett'])

### 2f) Extract all the private data 

- Create 2 empty lists called `first_names` and `last_names`
- Loop through all the people we are trying to identify in df_personal
- Call the `extract_company` function (i.e., `extract_company(df_personal.ix[i, 'email'])` )
- Call the `employee_matcher` function 
- Append the results of `employee_matcher` to the appropriate lists (`first_names` and `last_names`)

In [23]:
first_names = []
last_names = []

for p in df_personal.index:
    email = extract_company(df_personal.loc[p,'email'])
    
    age = df_personal.loc[p,"age"]
    gender = df_personal.loc[p,"gender"]
    value = employee_matcher(email,age,gender)
    
    first_names.append(value[0])
    last_names.append(value[1])

In [24]:
assert first_names[45:50]== [['Justino'], ['Tadio'], ['Kennith'], ['Cedric'], ['Amargo']]
assert last_names[45:50] == [['Corro'], ['Blackford'], ['Milton'], ['Yggo'], ['Grigor']]

### 2g) Add the names to the original 'secure' dataset! 

We have done this last step for you below, all you need to do is run this cell.

For your own personal enjoyment, you should also print out the new `df_personal` with the identified people.

In [25]:
df_personal['first_name'] = first_names
df_personal['last_name'] = last_names

In [26]:
print(df_personal)

     age                        email  gender           first_name  \
0     60  gshoreson0@seattletimes.com    Male             [Gordon]
1     47           eweaben1@salon.com  Female            [Elenore]
2     27      akillerby2@gravatar.com    Male               [Abbe]
3     46            gsainz3@zdnet.com    Male              [Guido]
4     72     bdanilewicz4@4shared.com    Male              [Brody]
..   ...                          ...     ...                  ...
995    3        pstroulgerrn@time.com  Female           [Penelopa]
996   49  kbasnettro@seattletimes.com  Female  [Anthiathia, Kandy]
997   75  pmortlockrp@liveinternet.ru    Male               [Paco]
998   81         sphetterq@toplist.cz    Male              [Sammy]
999   70        jtyresrr@slashdot.org    Male             [Josiah]

             last_name
0          [DelaField]
1            [Gravett]
2          [Stockdale]
3            [Comfort]
4           [Pinckard]
..                 ...
995            [Roman]
996  [Baldwin, Cossam]
997      [Weatherburn]
998           [Dymick]
999         [Ayshford]

[1000 rows x 5 columns]

We have now just discovered the 'anonymous' identities of all the registered Tinder users...awkward.

## Part 3: Anonymize Data (3.25 points)

You are hopefully now convinced that with some seemingly harmless data a hacker can pretty easily discover the identities of certain users. Thus, we will now clean the original Tinder data ourselves according to the Safe Harbor Method in order to make sure that it has been *properly* cleaned...

### 3a) Load in personal data 

Load the `user_dat.csv` file into a pandas dataframe. Call it `df_users`.

In [27]:
df_users = pd.read_csv("user_dat.csv")
df_users.head()

,age,email,first_name,gender,last_name,ip_address,phone,zip
0,34,clilleymanlm@irs.gov,Carly,Female,Duckels,229.46.197.198,(445)515-0719,70397
1,87,parnecke9a@furl.net,Prisca,NaN,Le Friec,60.255.20.98,(962)747-5149,71965
2,60,ldankersley7j@mysql.com,Lauree,Female,Meineking,65.148.56.18,(221)690-1264,47946
3,47,kcattrollma@msn.com,Karoly,NaN,Hoyles,207.40.101.214,(203)282-1167,29063
4,85,rchestney60@dailymotion.com,Rona,Female,St. Quentin,177.12.128.156,(703)482-9159,68872

In [28]:
assert isinstance(df_users, pd.DataFrame)

### 3b) Drop personal attributes 

Remove any personal information, following the Safe Harbor method.
Based on the Safe Harbor method, remove any columns from `df_users` that contain personal information. 

Note that details on the Safe Harbor method are covered in the Tutorials.

In [29]:
df_users = df_users.drop(["first_name", "last_name", "email", "phone", "ip_address"], axis=1)

In [30]:
assert len(df_users.columns) == 3

### 3c) Drop ages that are above 90 

Safe Harbor rule C: Drop all the rows which have age greater than 90 from `df_users`.

In [31]:
ans = df_users[df_users["age"] > 90].index

df_users.drop(ans, inplace = True)

In [32]:
assert df_users.shape == (943, 3)

### 3d) Load in zip code data 

Load the zip_pop.csv file into a (different) pandas dataframe. Call it `df_zip`.

Note that the zip data should be read in as strings, not ints, as would be the default. 

In `read_csv`, use the parameter `dtype` to specify to read `zip` as str, and `population` as int.

In [33]:
df_zip = pd.read_csv('zip_pop.csv' , dtype = {"zip":str, "population":int})

In [34]:
assert isinstance(df_zip, pd.DataFrame)

### 3e) Sort zipcodes into "Geographic Subdivision" 

The Safe Harbor Method applies to "Geographic Subdivisions" as opposed to each zipcode itself. 

Geographic Subdivision: All areas which share the first 3 digits of a zip code

Count the total population for each geographic subdivision, storing the first 3 digits of the zip code and its corresponding population in the dictionary `zip_dict`. (For example, if there were 20 people whose zip code started with 090, the key-value pair in `zip_dict` would be `{'090' : 20}`.)

You may be tempted to write a gnarly loop to accomplish this. Avoid that temptation. Instead, you'll want to be savy with a dictionary and `groupby` from `pandas` here. 

To get you started...

If you wanted to group by whole zip code, you could use something like this:

```python
df_zip.groupby(df_zip['zip'])
```

But, we don't want to group by the *entire* zip code. Instead, we want to extract the first 3 digits of a zip code, and group by that. 

To extract the first three digits, you could so something like the following:

```python
df_zip['zip'].str[:3]
```

You'll want to combine these two concepts, such that you store this information in a dictionary `zip_dict`, which stores the first three digits of the zip code as the key and the population of that 3-digit zip code as the value.

(If you're stuck and/or to better understand how dictionaries work and how they apply to this concept, check the section materials, use google, and go to discussion sections!)

In [35]:

    
zip_dict = dict(df_zip.groupby(df_zip['zip'].str[:3])['population'].sum())

In [36]:
assert isinstance(zip_dict, dict)
assert zip_dict['100'] == 1502501

### 3f) Masking the Zip Codes 

In this part, you should write a for loop, updating the `df_users` dataframe.

Go through each user, and update their zip code, to Safe Harbor specifications:

- If the user is from a zip code for the which the "Geographic Subdivision" is less than equal to 20,000, change the zip code to 0 
- Otherwise, change the zip code to be only the first 3 numbers of the full zip code
- Do all this rewritting the zip_code columns of the `df_users` DataFrame

Hints: 
1. This will be several lines of code, looping through the DataFrame, getting each zip code, checking the geographic subdivision with the population in `zip_dict`, and setting the `zip_code` accordingly. 
2. Be very aware of your variable types when working with zip codes here.

In [37]:
df_users.loc[0,'zip']
len(df_users)
for i in range(0, len(df_users)):
    if i not in df_users.index:
        continue 
    if (df_users.loc[i, 'zip'] <= 20000):
        df_users.loc[i,'zip'] = 0
    else:
        df_users.loc[i, 'zip'] = str(int(str(df_users.loc[i,'zip'])))[:3]

In [38]:
assert len(df_users) == 943
assert df_users.loc[671, 'zip'] == '285'

### 3g) Save out the properly anonymized data to json file 

Save out `df_users` as a json file, called `real_anon_user_dat.json`

In [39]:
df_users.to_json("real_anon_user_dat.json")

In [40]:
assert isinstance(pd.read_json('real_anon_user_dat.json'), pd.DataFrame)

## Complete!

Congrats, you're done! The users' identities are much more protected now.

Have a look back over your answers, and also make sure to `Restart & Run All` from the kernel menu to double check that everything is working properly. You can also use the 'Validate' button above, which runs your notebook from top to bottom and checks to ensure all `assert` statements pass silently. When you are ready, submit on datahub!